/* Global */


* {
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	font-weight: 100;
	min-height: 500px;
}

img {
	overflow: hidden;
}

a:link {
	color: #f68f67;
	text-decoration: none;
}

a:hover {
	color: #bde2df;
	text-decoration: none;
}

a:visited {
	color: #f68f67;
	text-decoration: none;
}

p {
	font-family: 'Verlag', sans-serif;
	z-index: 2;
	color: white;
	font-size: 275%;
	text-align: center;
	min-width: 100%;
	position: absolute;
}

/* Navigation */

.menu {
	position:fixed;
	top:0px;
	width:100%; 
	height:7.5%;
	background-color:#ffffff;
	z-index:100;
	opacity: .5;
	min-height: 32px;
	max-height: 32px;
}
#logo {
	text-align: center;
	margin: 0;
}

#logoimg {
	width: auto;
	height: 99%;
	margin: auto;
	opacity: 1;
	z-index: 1001;
	top: 0px;
	left: 4%;
}

#nav {
	text-align: right;
	margin: 0;
}

.navigation{
	float: right;
	list-style: none;
	margin: 0;
}

.navigation li{
	float: left;
	margin:1px 0 0 20px;
}

.navigation li:hover{
	cursor:pointer;
	color: #a9d3d0;
}

.navigation .active{
	cursor:pointer;
	color: #f68f67;
	font-weight:bold;
}


/* General Slides */ 

.slide{
	background-attachment: fixed;
	width:100%;
	height:auto;
	position: absolute;
	padding:0;
}

/* Slide 3 */ 

#slide3{
	background-color:#ffffff;
	height: 100%;
}
#slide3 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#8a8683;
	font-weight: 700;
}
#slide3 h2 {
	font-size: 2em;
	color: #8a8683;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}
#test{
	background-color:#bde2df;
	color:#ffffff;
	text-align:center;
	font-size: 2em;
	font-weight: 400;
}
